$bg-lght: white;

$color-primary: #A57BFF;
$color-secondary: #F2F2F2;
$color-tertiary: #EDEDED;

$txt-normal: 'Montserrat', sans-serif;
$txt-title: 'Space Grotesk', sans-serif;

$shadow-service: 4px 4px 15px 0px;

$radius: 25px;